<aside role="banner" class="cover">
  <div {{#if @blog.cover}}data-load-image="{{@blog.cover}}"{{/if}} class="cover-image"></div>
  <div class="cover-container">
    {{#if @blog.logo}}
      <a href="{{@blog.url}}" class="cover-logo" data-pjax>
        <img src="{{@blog.logo}}" alt="Blog Logo">
      </a>
    {{/if}}
    <h1 class="cover-title">{{@blog.title}}</h1>
    <p class="cover-description">{{@blog.description}}</p>
    <ul class="list--inline">
<li class="drawer-list-item">
  <a href="https://www.facebook.com/wraveling" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>
</li>

<li class="drawer-list-item">
  <a href="https://twitter.com/jdamorewriting" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>
</li>
<li class="drawer-list-item">
  <a href="https://instagram.com/jamiecaroccio" target="_blank">
    <i class="fa fa-instagram"></i>
  </a>
</li>

      <li class="drawer-list-item">
        <a href="{{@blog.url}}/rss/">
          <i class="fa fa-rss"></i>
        </a>
      </li>

</ul>
  </div>
</aside>
